# Environment variables
movierec_backend/.env

# Python virtual environment folder
env/
venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# VSCode settings folder
.vscode/

# Log files
*.log